body {
    width: 90%;
    margin: auto;
}

main {
    text-align: center;
    width: 90%;
    margin:auto;
    padding: 20px;
}

p {
    background-color: beige;
    font-size: 178px;
    padding: 30px;
    border: black solid 3px;
    width: 50%;
    margin: auto;
}