body {
    width: 80%;
    margin: 20px auto;
}

header {
    text-align: center;
}

header > img {
    width: 50%;
}

.contenedor{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.lateral {
    margin: 15px;
    padding: 10px;
}

.jugador {
    font-weight: bold;
}

.resultado {
    margin: 20px;
    width: 80%;
    height: 250px;
    background-color:ghostwhite;
}